# What are strings?

In [3]:
# Use quotation marks for defining a string

'Micheal Jackson'

'Micheal Jackson'

In [4]:
# Digitals and spaces in a string 
'1 2 3 4 5 6'

'1 2 3 4 5 6'

In [6]:
# Special character in a string 
''#@!@#@!$@#$@%#^#@$%#@$%#$^%^$%^''

''

In [7]:
'!@#@!#@#$@#$@#$@#$@'

'!@#@!#@#$@#$@#$@#$@'

In [8]:
#Print a string using a print statement
print("Hello World")

Hello World

In [9]:
# Assign String to a variable 
Name="Micheal Jackson"
Name

'Micheal Jackson'

# Indexing
It is helpful to think of a string as an ordered sequence. Each element in the sequence can be accessed using an index represented by the array of numbers:

In [10]:
print(Name[0])

M

In [11]:
print(Name[6])

l

In [12]:
print(Name[13])

o

# Slicing

In [13]:
print(Name[0:4])

Mich

In [14]:
print(Name[8:12])

Jack

# Stride

In [15]:
print(Name[::2])

McelJcsn

In [16]:
Name[0:5:2]

'Mce'

# Concatenate Strings

In [18]:
Statement= Name + " is the best dancer."
Statement

'Micheal Jackson is the best dancer.'

# Escape Sequences

In [19]:
print("Micheal Jackson \n is the best")

Micheal Jackson
 is the best

In [20]:
print("Micheal Jackson \\ is the best")

Micheal Jackson \ is the best

In [21]:
print("Micheal Jackson \t is the best")

Micheal Jackson 	 is the best

In [22]:
print("Micheal Jackson \ is the best")

Micheal Jackson \ is the best

<hr>

<h2 id="operations">String Operations</h2>

There are many string operation methods in Python that can be used to manipulate the data. We are going to use some basic string operations on the data.

Let's try with the method <code>upper</code>; this method converts lower case characters to upper case characters:

In [25]:
# Convert all the characters in string to upper case
a= "thriller is the 6th studio album"
print("before upper: ", a)
b= a.upper()
print("after upper: ",b)

before upper:  thriller is the 6th studio album
after upper:  THRILLER IS THE 6TH STUDIO ALBUM

In [32]:
# Replace the old substring with the new target substring is the segment has been found in the string

a= "Micheal is better than Tyson"
b= a.replace('Micheal','Janet')
print("Replaced:",b)

Replaced: Janet is better than Tyson

In [35]:
name= "Micheal Jackson"
name.find('al')

5

In [37]:
name.find('Jack')

8

In [38]:
name.find('asdsada')

-1

In [39]:
A='1934567'
A[1::2]

'946'