<h2 id="set">Sets</h2>

# Set Content

A set is a unique collection of objects in Python. You can denote a set with a curly bracket {}. Python will automatically remove duplicate items:

In [1]:
# Create a set
set1={"pop", "rock", "soul", "hard rock", "rock", "R&B", "rock", "disco"}
set1

{'R&B', 'disco', 'hard rock', 'pop', 'rock', 'soul'}

You can also create a set from a list as follows:

In [6]:
# Convert list to set
album_list= [ "Michael Jackson", "Thriller", 1982, "00:42:19", \
              "Pop, Rock, R&B", 46.0, 65, "30-Nov-82", None, 10.0]
album_set=set(album_list)
album_set

{'00:42:19',
 10.0,
 1982,
 '30-Nov-82',
 46.0,
 65,
 'Michael Jackson',
 None,
 'Pop, Rock, R&B',
 'Thriller'}

In [7]:
# Convert list to set
music_genres=set([ "Michael Jackson", "Thriller", 1982, "00:42:19", \
              "Pop, Rock, R&B", 46.0, 65, "30-Nov-82", None, 10.0])
music_genres

{'00:42:19',
 10.0,
 1982,
 '30-Nov-82',
 46.0,
 65,
 'Michael Jackson',
 None,
 'Pop, Rock, R&B',
 'Thriller'}

# Set Operations

Let us go over set operations, as these can be used to change the set. Consider the set A:

In [10]:
# Sample set

A = set(["Thriller", "Back in Black", "AC/DC"])
A

{'AC/DC', 'Back in Black', 'Thriller'}

We can add an element to a set using the add() method:

In [11]:
# Add element to set

A.add("NSYNC")
A

{'AC/DC', 'Back in Black', 'NSYNC', 'Thriller'}

If we add the same element twice, nothing will happen as there can be no duplicates in a set:

In [16]:
# Try to add duplicate element to the set

A.add("NSYNC")
A

{'AC/DC', 'Back in Black', 'NSYNC', 'Thriller'}

We can remove an item from a set using the remove method:

In [17]:
# Remove the element from set

A.remove("NSYNC")
A

{'AC/DC', 'Back in Black', 'Thriller'}

We can verify if an element is in the set using the in command:

In [18]:
'Back in Black' in A

True

# Sets Logic Operations

Remember that with sets you can check the difference between sets, as well as the symmetric difference, intersection, and union:

Consider the following two sets:

In [20]:
# Sample Sets 

album_set1= set(["Thriller", 'AC/DC', 'Back in Black'])
album_set2= set(["AC/DC", "Back in Black", "The Dark Side of the Moon"])

album_set1, album_set2

({'AC/DC', 'Back in Black', 'Thriller'},
 {'AC/DC', 'Back in Black', 'The Dark Side of the Moon'})

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%202/Images/SetsSamples.png" width="650" />

As both sets contain AC/DC and Back in Black we represent these common elements with the intersection of two circles.

<img src = "https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%202/Images/SetsLogic.png" width = "650" />

You can find the intersect of two sets as follow using &

In [22]:
# Find the Intersetions
intersection=album_set1&album_set2
intersection

{'AC/DC', 'Back in Black'}

You can find all the elements that are only contained in album_set1 using the difference method:

In [23]:
# Find the difference between set 1 and not set 2
album_set1.difference(album_set2)

{'Thriller'}

You only need to consider elements in album_set1; all the elements in album_set2, including the intersection, are not included.

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%202/Images/SetsLeft.png" width="650" />

The elements in album_set2 but not in album_set1 is given by:

In [24]:
album_set2.difference(album_set1)

{'The Dark Side of the Moon'}

<img src = "https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%202/Images/SetsRight.png" width="650" />

You can also find the intersection of <code>album_list1</code> and <code>album_list2</code>, using the <code>intersection</code> method:

In [26]:
# This corresponds to the intersection of the two circles:
album_set1.intersection(album_set2)

{'AC/DC', 'Back in Black'}

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%202/Images/SetsIntersect.png" width="650" />

The union corresponds to all the elements in both sets, which is represented by coloring both circles:

<img src = "https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%202/Images/SetsUnion.png" width="650" />

The union is given by:

In [28]:
# Find the union of the two sets

album_set1.union(album_set2)

{'AC/DC', 'Back in Black', 'The Dark Side of the Moon', 'Thriller'}

And you can check if a set is a superset or subset of another set, respectively, like this:

In [30]:
# check if superset
set(album_set1).issuperset(album_set2)

False

In [32]:
#check if subset
set(album_set2).issubset(album_set1)

False

Here is an example where issubset() and issuperset() return true:

In [33]:
#check if subset

set({"Back in Black","AC/DC"}).issubset(album_set1)

True

In [35]:
#check if superset
album_set1.issuperset({"Back in Black","AC/DC"})

True

# Quiz on Sets 

Convert the list ['rap','house','electronic music', 'rap'] to a set:

In [38]:
list=set(['rap','house','electronic music', 'rap'])
list

{'electronic music', 'house', 'rap'}

Consider the list A = [1, 2, 2, 1] and set B = set([1, 2, 2, 1]), does sum(A) = sum(B)

In [45]:
A = [1, 2, 2, 1]
B = set([1, 2, 2, 1])

print("The sum of A is: ", sum(A))
print("The sum of B is: ", sum(B))

The sum of A is:  6
The sum of B is:  3

Create a new set album_set3 that is the union of album_set1 and album_set2:

In [50]:
# Write your code below and press Shift+Enter to execute

album_set1 = set(["Thriller", "AC/DC", "Back in Black"])
album_set2 = set([ "AC/DC", "Back in Black", "The Dark Side of the Moon"])

album_set1, album_set2

({'AC/DC', 'Back in Black', 'Thriller'},
 {'AC/DC', 'Back in Black', 'The Dark Side of the Moon'})

In [51]:
album_set3 = album_set1.union(album_set2)
album_set3

{'AC/DC', 'Back in Black', 'The Dark Side of the Moon', 'Thriller'}

In [52]:
album_set1.issubset(album_set3)

True