# Tuples

# Create your first tuple

In [19]:
# Create your first tuple
tuple1=("disco",10,1.2)
tuple1

('disco', 10, 1.2)

In [3]:
#Print type of a variable
type(tuple1)

tuple

In [4]:
#Each element of a tuple can be called by using the index of the tuple
tuple1[0]

'disco'

In [20]:
tuple1[1]

10

In [21]:
tuple1[2]

1.2

In [22]:
# Print each type of the tuple 

print(type(tuple1[0]))

<class 'str'>

In [23]:
print(type(tuple1[1]))

<class 'int'>

In [24]:
print(type(tuple1[2]))

<class 'float'>

In [25]:
# Use negative index to get the value of the last element

tuple1[-1]

1.2

In [26]:
# Use negative index to get the value of the last element

tuple1[-2]

10

In [27]:
# Use negative index to get the value of the last element

tuple1[-3]

'disco'

# Concatenate Tuples

In [29]:
# Concatenate two tuples

tuple2 = tuple1 + ("hard rock", 20)
tuple2

('disco', 10, 1.2, 'hard rock', 20)

# Slicing

In [35]:
# Slice from index 0 to index 2
tuple2[0:3]

('disco', 10, 1.2)

In [33]:
# Slice from index 3 to index 4
tuple2[3:5]

('hard rock', 20)

In [36]:
len(tuple2)

5

# Sorting
Consider the following tuple:

In [37]:
Ratings = (0, 9, 6, 5, 10, 8, 9, 6, 2)

In [38]:
# Sort the tuple
ratingssorted= sorted(Ratings)
ratingssorted

[0, 2, 5, 6, 6, 8, 9, 9, 10]

# Sort the tuple
A tuple can contain another tuple as well as other more complex data types. This process is called 'nesting'. Consider the following tuple with several elements:

In [39]:
# Create a nest tuple
# NestedT =(1, 2, ("pop", "rock") ,(3,4),("disco",(1,2)))


Nestedt=(1,2,("pop","rock"),(3,4),("disco",(1,2)))

In [43]:
print("Element 0 of tuple: ",Nestedt[0])
print("Element 1 of tuple: ", Nestedt[1])
print("Element 2 of tuple: ",Nestedt[2])
print("Element 3 of tuple: ", Nestedt[3])
print("Element 4 of tuple: ",Nestedt[4])

Element 0 of tuple:  1
Element 1 of tuple:  2
Element 2 of tuple:  ('pop', 'rock')
Element 3 of tuple:  (3, 4)
Element 4 of tuple:  ('disco', (1, 2))

In [46]:
# NestedT =(1, 2, ("pop", "rock") ,(3,4),("disco",(1,2)))

print("Element 2,0 of tuple2: ",Nestedt[2][0])
print("Element 2,0 of tuple2: ",Nestedt[2][1])

Element 2,0 of tuple2:  pop
Element 2,0 of tuple2:  rock

In [47]:
print("Element 4,0 of tuple2: ",Nestedt[4][0])
print("Element 4,1 of tuple2: ",Nestedt[4][1])
print("Element 4,1,1 of tuple2: ",Nestedt[4][1][1])

Element 4,0 of tuple2:  disco
Element 4,1 of tuple2:  (1, 2)
Element 4,1,1 of tuple2:  2

# Quiz on tuples

In [49]:
genres_tuple = ("pop", "rock", "soul", "hard rock", "soft rock","R&B", "progressive rock", "disco")
genres_tuple

('pop',
 'rock',
 'soul',
 'hard rock',
 'soft rock',
 'R&B',
 'progressive rock',
 'disco')